/* stile di reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

ul li {
    list-style-type: none;
}

/* classi utilities */


/* Utilities text */

.white-text {
    color: #fff;
   
}

.blue-bg {
    background-color: #0061FF;
   
}

.text-blue {
    color: #0061FF ;
 
}

.text-purple-red {
    color : #61082B;
}

.light-blue-bg {
    background: #B4D0E7;
}

.white-bg {
    background: #fff;
}

.black-bg {
    background: #000;
}



.text-medium {
    font-size: 1.8rem;
}

.text-small {
    font-size: 1.2rem;
}

.text-bold {
    font-weight: bold;
}

.text-title {
    font-size: 2.2rem;
}




/* ------------------------------ */

/* stile default button */
.btn {border: none; padding: 0.5rem 1rem;}
/* ------------------------------ */


/* classi utilities per margin e padding 
    (spazio tra le varie sezioni)
*/

.margin-top-big {
    margin-top: 200px;
}

.margin-bottom-big {
    margin-bottom: 150px;
}

.margin-bottom-medium {
    margin-bottom: 90px;
}

.padding-bottom-small {
    padding-bottom: 1rem;
}

.padding-bottom-medium {
    padding-bottom: 2rem;
}





/* ------------------------------ */





/* ----------------------------------------------- */

/* stile navbar (logo , list item , btn) */

nav {
    padding: 1.2rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    background: #fff;
    
  
    
}

nav .nav-left ul li , nav .nav-right ul li {
    display: inline-block;
    padding: 0 0.4rem;
}

.logo {
    vertical-align: middle;
}

/* ----------------------------------------------- */

/* stile jumbo section */

.big-container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 2rem 0;
}

.jumbo {
    background: #B4D0E7;
    position: relative;
    margin-bottom: 100px;

}


.jumbo-content {
    padding: 50px 100px;
    margin-top: 40px;
}

.jumbo-title {
    line-height: 5rem;
    font-size : 3.4rem;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    max-width: 800px;
}


.jumbo-text {
    max-width: 400px;
    line-height: 1.3rem;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}


.jumbo .big-container .jumbo-content > button {
    margin-bottom: 1.5rem;
}


.jumbo .big-container .jumbo-content > span {
    display: block;
    margin-bottom: 2.5rem;
}

.jumbo-image img {
    width: 45%;
    position: absolute;
    top: 50%;
    left: 40%;

}

.jumbo-content i {
    font-size: 3rem;
}



.jumbo .big-container .jumbo-content button {
    padding: 0.9rem 1rem;
}

/* ----------------------------------------------- */


/* Business plan section */

.business-plan {
    padding-top: 50px;
}


.container {
    max-width: 1000px;
    margin: 0 auto;
    padding : 2rem 0;
}




label {
    padding: 0 0.5rem;
}


label input {
    margin: 0 0.3rem;
}


.duration {
    margin-bottom: 2.5rem;
}
/* --------------------------------------------------- */

/* Card section */

.cards {
    display: flex;
    gap : 50px;
}

.card {
    border-style: solid;
    border-color: lightgray;
    border-width: 0px 1px 1px 1px;
    flex-basis: calc(100% / 3);

}


 .card-person {
    border: 1px solid lightgray;
    padding: 0.7rem 0;
    text-align: center;
}


.card-info {
    padding: 0.5rem 1.2rem;
}


.card-person , .card-type , .card-feature , .card-info{
    margin-bottom: 1.3rem;
}


.card-feature ul li , .card-points ul li {
    padding-bottom: 0.6rem;
}

.card-feature li {
    display: flex;
    gap: 10px;
}

.card-info button {
    padding: 0.8rem 3rem;
    margin : 0 auto ;
    display: block;
    text-align: center;
    margin-bottom: 1.5rem;

}

.card-info hr {
   width: 20%; 
   margin-bottom: 3rem;
   margin-top: 3rem ;
}

.card-points {
    margin-bottom: 100px;
}

.card-points ul li {
    padding-bottom: 1.4rem;
}

.card-points h4 {
    margin-bottom: 1.5rem;
}


/* --------------------------------------------------- */

/* Big Card section */


.card-col {
    display: flex;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px 1px 1px 1px;
  
}

.card-person.big {
    margin-bottom: 0;
}

.card-big-col {
    flex-basis : 70%;
    padding: 1.5rem ;
  
}


.card-small-col {
    flex-basis: 30%;
    text-align : right;
    padding:  1.5rem;
}

/* --------------------------------------------------- */


/* Partner dropbox section */

.no-border {
    border: none;
}

.card-col.no-border {
    gap: 5px;
}

.partner-img {
    width: 95%;
}

.card-big-col.partner {
    padding: 0;
}

.card-small-col.partner  {
    text-align: left;
    padding : 0;
}


.card-small-col.partner h3 {
    padding-top: 4rem;
    padding-bottom: 1.5rem;
    font-size: 1.6rem;
}



.card-small-col.partner button {
    padding: 0.7rem 1.5rem;
    color: #000;
    background: #fff;
    border: 1px solid black ;
    margin-top: 2rem;
} 

/* --------------------------------------------------- */


/* Dropbox Business card section  */

.business-cards {
    display: flex;
    gap: 50px;
    flex-flow: row wrap;
}

.text-medium.business {
  
    margin-bottom: 50px;
}


.business-card {
    flex-basis: calc(100% / 3 - 40px);
}


.business-card img{
    width: 100%;
    padding-bottom: 1rem;
}


.business-card-text h3 {
    font-size: 1.6rem;
    max-width: 300px;
    margin-bottom: 1.5rem;
} 

.business-card-text p {
    font-size: 1rem;
    line-height: 1.4rem;
}


/* --------------------------------------------------- */

/* team count section */

.team-count h2 {
    max-width: 500px;
    padding-bottom: 3rem;
}

/* --------------------------------------------------- */

/* Designit card section */


/* designit utilities color class */

.designit-small {background: #A2D39B;}
.arizona {background: #61082B;}
.florida {background: #0093CE;}
.topps {background: #FF1C1C;}
.bycicle{background: #D5001F;}
.hearst{background: #B4D0E7;}
.lonely{background: #0D2481;}
.clear{background: #FFD830;}
.designit-big{background: #F5F5F5;}





 .design-item:not(.big) img {
    filter: invert(1);

} 

.design {
    display: flex;
}




.design .design-container {
    width: calc(100% / 3);
    display: flex;
    flex-flow: row wrap;
}



.design-item {
    flex-basis: 50%;
    height: calc(100vh / 3);
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.design-item img {width: 50%;}


.design-container.big {
    padding: 0 2rem;

}
.design-container.big img {
    width: 60%;
}







/* --------------------------------------------------- */


/* Bring dropbox business section */

.bring {
    padding: 4rem 6rem;
   
}

.bring .card-big-col {
    flex-basis: 50%;
}

.bring h3 {
    max-width: 500px;
}

.bring .card-small-col button {
    padding: 0.9rem 2.3rem;
    font-size: 1rem;
}



/* --------------------------------------------------- */

/* FAQ */

.faq .container ul li i {float: right;}
/* --------------------------------------------------- */



/* FOOTER  */


footer {
    color: #fff;
    padding: 2.5rem 0;
}

.footer-row {
    display: flex;
    gap : 35px;
}

.footer-col {
    flex-basis: 20%;
    
}

.footer-col ul li h2 {
    padding-bottom: 1rem;
}

.footer-col ul li {
    padding-bottom: 0.7rem;
}

footer hr {
    width: 10%; 
    margin-bottom: 3rem;
    margin-top: 3rem ;
}


/* --------------------------------------------------- */
