/* stile di reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

ul li {
    list-style-type: none;
}
/* ----------------------------------------------- */

/* stile navbar (logo , list item , btn) */

nav {
    padding: 1.2rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    
}

nav .nav-left ul li , nav .nav-right ul li {
    display: inline-block;
    padding: 0 0.4rem;
}

.logo {
    vertical-align: middle;
}

/* ----------------------------------------------- */

.big-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem 0;
}

.jumbo {
    background: #B4D0E7;
    position: relative;

}

.jumbo-title {
    line-height: 5rem;
    font-size : 3rem;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    max-width: 800px;
}


.jumbo-text {
    max-width: 400px;
    line-height: 1.6rem;
    margin-bottom: 1.5rem;
}


.jumbo .big-container .jumbo-content > button {
    margin-bottom: 1.5rem;
}


.jumbo .big-container .jumbo-content > span {
    display: block;
    margin-bottom: 2.5rem;
}

.jumbo-image img {
    width: 40%;
    position: absolute;
    top: 40%;
    left: 45%;

}